# Dependencies
node_modules

# Build output
build
dist

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*

# Test coverage
coverage
